// Se utiliza cuando a un elemento del sidemenu se le da click
.active-item{
    color: var(--ion-color-mhcjsyellow) !important;
}

// Se utiliza para pintar de blanco los íconos en el sidemenu
.color-logo{
    color: #ffffff;
}

// Modifica el tamaño y la posición de el logo del museo.
.logo-size{
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

// Modifica el color de fondo de los elementos dentro del sidemenu
.list-color{
    background-color: #4f1c27;
}

