<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Botón encargado para abrir el sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Este slot de abajo va a ser utilizado para analizar códigos QR -->
    <ion-buttons slot="end" (click)="scanCode()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
    </ion-buttons>
    
    <ion-title>Exhibiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="mhcjsgray">

</ion-content>
