<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Botón encargado para abrir el sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Este slot de abajo va a ser utilizado para analizar códigos QR -->
    <ion-buttons slot="end" (click)="scanCode()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
    </ion-buttons>
    
    <ion-title>Mapa del Museo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mhcjsgray">
  <div class="center2">
      <div class="center">

        <ion-button (click)="selecSlide(0)" color="primary">
          Piso 1
        </ion-button>

        <ion-button (click)="selecSlide(1)" color="primary">
            Piso 2
        </ion-button>

    </div>

  </div>
  
  <ion-slides pager="true" #slidesElem>
    <ion-slide *ngFor="let m of maps">
      <ion-buttons (click)="openImage(m.url)">
        <img [src]="m.url">
      </ion-buttons>
    </ion-slide>

  </ion-slides>
  

</ion-content>
