.img-size{
    height: 125%;  
}

.center2{
    text-align: center;
}

.center{
    margin: 0 auto;
    
}

.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}