<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{decoded_data2.nombre_elemqr}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mhcjsgray">

  <ion-card>
      <img [src]="decoded_data2.url_img_elemqr">
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>{{decoded_data2.descripcion_elemqr}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
