// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #AC4B5A; //702532;
  --ion-color-primary-rgb: 172, 75, 90; //112, 37, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #97424f; //63212c;
  --ion-color-primary-tint: #b45d6b; //7e3b47;

  /** secondary **/
  --ion-color-secondary: #702532;
  --ion-color-secondary-rgb: 112, 37, 50;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #63212c;
  --ion-color-secondary-tint: #7e3b47;

  /** tertiary **/
  --ion-color-tertiary: #1F3365;
  --ion-color-tertiary-rgb: 31, 51, 101;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1b2d59;
  --ion-color-tertiary-tint: #354774;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** MHCJS Yellow **/
  --ion-color-mhcjsyellow: #FAAC18;
  --ion-color-mhcjsyellow-rgb: 250, 172, 24;
  --ion-color-mhcjsyellow-contrast: #ffffff;
  --ion-color-mhcjsyellow-contrast-rgb: 0, 0, 0;
  --ion-color-mhcjsyellow-shade: #dc9715;
  --ion-color-mhcjsyellow-tint: #fbb42f;

  /** MHCJS Red 2 **/
  --ion-color-mhcjsred2: #4f1c27;
  --ion-color-mhcjsred2-rgb: 79, 28, 39;
  --ion-color-mhcjsred2-contrast: #ffffff;
  --ion-color-mhcjsred2-contrast-rgb: 0, 0, 0;
  --ion-color-mhcjsred2-shade: #461922;
  --ion-color-mhcjsred2-tint: #61333d;

  /** MHCJS Gray 1 **/
  --ion-color-mhcjsgray: #CED2D8;
  --ion-color-mhcjsgray-rgb: 206, 210, 216;
  --ion-color-mhcjsgray-contrast: #ffffff;
  --ion-color-mhcjsgray-contrast-rgb: 255, 255, 255;
  --ion-color-mhcjsgray-shade: #b5b9be;
  --ion-color-mhcjsgray-tint: #d3d7dc;
}

.ion-color-mhcjsyellow {
  --ion-color-base: var(--ion-color-mhcjsyellow) !important;
  --ion-color-base-rgb: var(--ion-color-mhcjsyellow-rgb) !important;
  --ion-color-contrast: var(--ion-color-mhcjsyellow-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mhcjsyellow-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mhcjsyellow-shade) !important;
  --ion-color-tint: var(--ion-color-mhcjsyellow-tint) !important;
}

.ion-color-mhcjsgray {
  --ion-color-base: var(--ion-color-mhcjsgray) !important;
  --ion-color-base-rgb: var(--ion-color-mhcjsgray-rgb) !important;
  --ion-color-contrast: var(--ion-color-mhcjsgray-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mhcjsgray-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mhcjsgray-shade) !important;
  --ion-color-tint: var(--ion-color-mhcjsgray-tint) !important;
}

.ion-color-mhcjsred2 {
  --ion-color-base: var(--ion-color-mhcjsred2) !important;
  --ion-color-base-rgb: var(--ion-color-mhcjsred2-rgb) !important;
  --ion-color-contrast: var(--ion-color-mhcjsred2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mhcjsred2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mhcjsred2-shade) !important;
  --ion-color-tint: var(--ion-color-mhcjsred2-tint) !important;
}