<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Botón encargado para abrir el sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Este slot de abajo va a ser utilizado para analizar códigos QR -->
    <ion-buttons slot="end" (click)="scanCode()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
    </ion-buttons>
    
    <ion-title>Galeria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="mhcjsgray">
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let img of decoded_data">
        <div class="image-container" [style.background-image]="'url(' + img.url_imagen + ')'" (click)="openImage(img.url_imagen, img.descripcion_imagen)"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
