<ion-header color="primary">
  <ion-toolbar color="primary">
    
    <!-- Botón encargado para abrir el sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Este slot de abajo va a ser utilizado para analizar códigos QR -->
    <ion-buttons slot="end" (click)="scanCode()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
    </ion-buttons>

    <ion-title>Contacto</ion-title>
    
  </ion-toolbar>
</ion-header>
  <ion-content  padding color="mhcjsgray" height:200px>
  
  <ion-card >
    <img src="../assets/imgs/museo.jpg"/>
  </ion-card>
  <ion-card >
    <ion-card-header>
      Acerca de Nosotros
    </ion-card-header>
    <ion-card-content>
        El Museo Histórico Cultural Juan Santamaría fue creado mediante Ley de la República No. 5619, 
        del 4 de diciembre de 1974, reformada por la Ley No. 6572 del 23 de abril de 1981, la cual cuenta 
        con su respectivo Reglamento. El proyecto que dio origen a esta ley fue iniciativa del entonces 
        diputado alajuelense Dr. Luis A. Salas Corrales.
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      Horario:
    </ion-card-header>
    <ion-card-content>
      Martes - Sábado de 9:00 am a 5:30 pm
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      Correo:
    </ion-card-header>
    <ion-card-content>
      cultura@mhcjs.go.cr
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      Telefono:
    </ion-card-header>
    <ion-card-content>
      <p>(506) 2441-4775 </p>
      <p>(506) 2442-1838</p>
    </ion-card-content>
  </ion-card>

  
  
  <div class="button-bar centrado" ><h1>
      <a class="button1 button-clear tamano" href="https://www.facebook.com/museosantamaria.mcj.cr/"><ion-icon name="logo-facebook"></ion-icon></a>
      <a class="button2 button-positive tamano" href="https://twitter.com/MHCJS"><ion-icon name="logo-twitter"></ion-icon></a>
      <a class="button3 button-positive tamano" href="https://www.youtube.com/user/MHCJS"><ion-icon name="logo-youtube"></ion-icon></a>
      <a class="button4 button-positive tamano" href="https://www.flickr.com/photos/mhcjs"><ion-icon name="logo-flickr"></ion-icon></a>
      <a class="button5 button-positive tamano" href="https://www.tripadvisor.com.mx/Attraction_Review-g309224-d591169-Reviews-Juan_Santamaria_Historical_Cultural_Museum-Alajuela_Province_of_Alajuela.html"><ion-icon name="glasses"></ion-icon></a>
      
    </h1>
  </div>


</ion-content>

