<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Botón encargado para abrir el sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Este slot de abajo va a ser utilizado para analizar códigos QR -->
    <ion-buttons slot="end" (click)="scanCode()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
    </ion-buttons>

    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="mhcjsgray">
    <ion-card *ngFor="let e of eventos">
      <img [src]="e.imgUrl"/>
      <ion-card-header>
        {{ e.title }}
      </ion-card-header>

      <ion-card-content>
        <br>
        <p>Fecha: {{ e.date }}</p>
        <p>Hora: {{ e.time }}</p>
        <p>Lugar: {{ e.place }}</p>
      </ion-card-content>
    </ion-card>

</ion-content>
