<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Botón encargado para abrir el sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Este slot de abajo va a ser utilizado para analizar códigos QR -->
    <ion-buttons slot="end" (click)="scanCode()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
    </ion-buttons>

    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="mhcjsgray">
    <ion-card >
      <img src="../assets/imgs/museo.jpg"/>
      <ion-card-header>
        Nombre de evento: 
        <ion-card-content>
          <p>Visita guiada por Alejandro Salas.</p>
        </ion-card-content>
      </ion-card-header>
     
      <ion-card-header>
        Fecha: 
        <ion-card-content>
          <p>27 de Enero de 2019.</p>
        </ion-card-content>
      </ion-card-header>
      <ion-card-header>
        Descripción: 
        <ion-card-content>
          <p>Paseo por medio del museo 
            y cada una de sus salas para asi llegar a observar y aprovechar cada una de 
            las esculturas y antiguedades presentes en este.</p>
        </ion-card-content>
      </ion-card-header>
    </ion-card>

</ion-content>
